@using Microsoft.Web.Helpers

@{
    Layout = "_Layout.cshtml";
    Page.Title = "NuGet Statistics";
    Page.Description = "Displays statistics about the official NuGet gallery.";
}

<div id="page">
    <div id="title">
        <a href="http://nuget.org">
            <img src="@Href("nuget-logo.png")" class="logo" alt="NuGet" />
        </a>
        <h1>statistics</h1>
    </div>
    <div id="body">
        <div id="loading">
        </div>
        <div id="main">            
            <div class="stats">
                <span class="stat stat-1"><span class="num" id="unique">&nbsp;</span>unique packages</span>
                <span class="stat stat-2"><span class="num" id="downloads">&nbsp;</span>package downloads</span>
                <span class="stat stat-3"><span class="num" id="total">&nbsp;</span>total packages</span>
                <br />
                <br />
                <span class="stat stat-1"><span class="num" id="packagesDay">&nbsp;</span>packages added in the last day</span>
                <span class="stat stat-2"></span>
                <span class="stat stat-3"><span class="num" id="downloadsHour">&nbsp;</span>downloads in the last hour</span>
            </div>
            <div id="recent" class="package-list">
                <h2>Just Updated</h2>
                <ul>
                </ul>
            </div>
            
            <div id="topPackages" class="package-list">
                <h2>Top Packages</h2>
                <ul>
                </ul>
            </div>
            <div class="clear"></div>
            <div id="charts">
                <h2>Charts</h2>
                <figure>
                    <img src="viewstats.cshtml?chart=downloadsperhour" alt="downloads/hour" />
                    <figcaption>Package downloads per hour</figcaption>
                </figure>
                <figure>
                    <img src="viewstats.cshtml?chart=uploadsperday" alt="downloads" />
                    <figcaption>Package uploads per day</figcaption>
                </figure>
                <figure>
                    <img src="viewstats.cshtml" alt="downloads" />
                    <figcaption>Package Downloads</figcaption>
                </figure>
            </div>
            <div id="tweets">
                @Twitter.Search("#nuget", 287, 200)
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="footer">
    &#169; 2011 Outercurve Foundation.
</div>   

@section foot {
    <script type="text/javascript" src="@Href("Default.js")"></script>
    @Analytics.GetGoogleHtml("UA-4117493-3")
}