@using Microsoft.Web.Helpers

@{
    Layout = "_Layout.cshtml";
    Page.Title = "NuGet Statistics";
    Page.Description = "Displays statistics about the official NuGet gallery.";
}
    
@section head {
    <script type="text/javascript">
        $(function () {
            function getStats() {
                $.post('stats', {}, function (stats) {
                    $('#loading').fadeOut('slow');
                    $('#stats').fadeIn('slow');

                    update('downloads', stats.TotalDownloads);
                    update('unique', stats.UniqueCount);
                    update('total', stats.TotalCount);

                    setTimeout(getStats, 500);

                }, 'json');
            }

            function update(element, value) {
                var currentValue = $('#' + element).html();

                if (currentValue != value) {
                    $('#' + element).html(value).hide().fadeIn('slow');
                }
            }

            getStats();
        });
    </script>
}

<div id="header">
    <a href="http://nuget.org"><img id="logo" src="@Href("nuget-logo.png")" alt="NuGet Logo" /></a>
    <span id="header-text">statistics</span>
    <div class="clear">
    </div>

    <div id="loading">
        <img src="@Href("loading.gif")" alt="Loading" />
        <span class="loading">Populating...</span>
    </div>
    <div class="clear">
    </div>
</div>

<div style="margin-left:15%">
    <div id="left">
        <table id="stats">
            <tr>
                <td id="downloads">
                </td>
                <td class="words">
                    downloads.
                </td>
            </tr>
            <tr>
                <td id="unique">
                </td>
                <td class="words">
                    unique packages.
                </td>
            </tr>
            <tr>
                <td id="total">
                </td>
                <td class="words">
                    total packages.
                </td>
            </tr>
        </table>
    </div>

    <div id="right">
        @Twitter.Search("#nuget")
    </div>

</div>