@using Microsoft.Web.Helpers

@{
    Layout = "_Layout.cshtml";
    Page.Title = "NuGet Statistics";
    Page.Description = "Displays statistics about the official NuGet gallery.";
}
    
@section head {
    <script type="text/javascript" src="Default.js"></script>
    @Analytics.GetGoogleHtml("UA-4117493-3")
}

<div id="header">
    <a href="http://nuget.org"><img id="logo" src="nuget-logo.png" alt="NuGet Logo" class="left" /></a>
    <span id="header-text">statistics</span>    
</div>

<div class="clear"></div>

<div id="content">

    <div id="loading">
        <img src="loading.gif" alt="Loading" />
        <span class="loading">Populating...</span>
    </div>
    <div id="main">
        <div class="counters">            
            <div class="counter" style="width: 25%">
                <div id="total"></div>
                <span class="words">total packages.</span>
            </div>
            <div class="counter" style="width: 50%">
                <div id="downloads"></div>
                <span class="words">package downloads.</span>
            </div>
            <div class="counter" style="width: 25%">
                <div id="unique"></div>
                <span class="words">unique packages.</span>
            </div>
            <div class="clear"></div>
        </div>
        <img id="chart" src="ViewStats.cshtml" alt="NuGet downloads" /> 
        <div id="recent">
            <h3>
                Recently Updated 
            </h3>
            <ul>

            </ul>
        </div>
        
        <div id="twitter">
            @Twitter.Search("#nuget", height: 250)
        </div>
        <div class="clear"></div>
        <br />
    </div>
</div>
