@using Microsoft.Web.Helpers

@{
    Layout = "_Layout.cshtml";
    Page.Title = "NuGet Statistics";
    Page.Description = "Displays statistics about the official NuGet gallery.";
}
    
@section head {
    <script type="text/javascript" src="Default.js"></script>
    @Analytics.GetGoogleHtml("UA-4117493-3")
}

<div id="header">
    
</div>

<div class="clear"></div>

<div id="middle">
    <div id="left">
        <table id="stats">
            <tr>
                <td id="downloads" class="counter"></td>
                <td class="words">downloads.</td>
            </tr>
            <tr>
                <td id="unique" class="counter"></td>
                <td class="words">unique packages.</td>
            </tr>
            <tr>
                <td id="total" class="counter"></td>
                <td class="words">total packages.</td>
            </tr>
        </table>
    </div>

    <div id="right">
        
    </div>
</div>

<div class="clear"></div>


<div id="recent">
    <h3>
        Just Updated
    </h3>
    <ul>

    </ul>

   
</div>