@using Microsoft.Web.Helpers

@{
    Layout = "_Layout.cshtml";
    Page.Title = "NuGet Statistics";
    Page.Description = "Displays statistics about the official NuGet gallery.";
}

<div id="page">
    <div id="title">
        <a href="http://nuget.org">
            <img src="@Href("nuget-logo.png")" class="logo" alt="NuGet" /></a>
        <h1>
            Statistics</h1>
    </div>
    <div id="body">
        <div id="main">
            <div id="stats">
                <span class="stat" id="stat-1"><span class="num" id="unique"></span>unique packages</span>
                <span class="stat" id="stat-2"><span class="num" id="downloads"></span>downloads</span>
                <span class="stat" id="stat-3"><span class="num" id="total"></span>total packages</span>
            </div>
            <div id="recent">
                <h2>
                    Just Updated</h2>
                <ul>
                </ul>
            </div>
            <div id="tweets">
                @Twitter.Search("#nuget", 287, 200)
            </div>
        </div>
        <div id="loading">
        </div>
    </div>
</div>

@section foot {
    <script type="text/javascript" src="@Href("Default.js")"></script>
    @Analytics.GetGoogleHtml("UA-4117493-3")
}