@import url('Reset.css');

body {
    font: 14px Helvetica Neue, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    background: #004EAE;
    margin: 8px;
}

#page {
    width: 960px;
    margin: 0px auto;    
    background: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 10px 2px #05005F;
    -moz-box-shadow: 0 4px 10px 2px #05005F;
    min-height:500px;
}

#loading {
    background: url(loading.gif) no-repeat center center;
    height:32px;
    margin-left:10%;
    margin-top:15%;
}

a { color: #00A0E7; }

#title {
    height: 64px;    
}
    
    #title .logo {
        float: left;
    }
    
    #title h1 {
        margin: 0;
        font-size: 3.7em;
        padding-top: 2px;
        color: #888;
        font-style: italic;
    } 

#stats {
    box-shadow: inset 0 4px 8px #000;
    -moz-box-shadow: inset 0 4px 8px #000;
    background: #555;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 0 0 1em 0;
    padding: 8px;
    min-height: 80px;
}
    
#stats .stat {
    display: inline-block;
    *zoom: 1;
    color: #bbb;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    width: 33%;
} 

#stats .num {
    font-size: 4em;
    color: #f9f9f9;
    font-family: monospace;
    display: block;
    line-height: 0.9em;
    text-shadow: 0 2px 1px black;
}

#tweets {
    width: 287px;
    display: inline-block;
    *zoom: 1;
    vertical-align: top; 
    overflow: hidden;
}

#recent {
    background: #f9f9f9;    
    padding: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin-right: 12px;
    
    box-shadow: inset 0 4px 8px #eee;
    -moz-box-shadow: inset 0 4px 8px #eee;
    
    width: 640px;
    display: inline-block;
    *zoom: 1;
    vertical-align: top; 
}
    
    #recent h2 {
        margin: 0 0 0.3em 0;    
        color: #555;
    }
    
    #recent a {
        font-size: 1.1em;
        font-weight: bold;
        text-decoration:none;
    }
    
    #recent p {
        margin-top: 0.5em;    
    }