@import url('Reset.css');

body {
    font: 14px Helvetica Neue, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    margin: 8px;
}

#page {
    width: 960px;
    margin: 0px auto;    
    background: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 10px 2px #ccc;
    -moz-box-shadow: 0 4px 10px 2px #ccc;
    min-height:550px;
}

#loading {
    background: url(loading.gif) no-repeat center center;
    height:32px;
    margin-left:0%;
    margin-top:15%;
}

a { color: #00A0E7; }

#charts {
    margin-top:5px;
    min-height:300px;
    min-width:400px;
    float: left;
}
    #charts h2  {
        color:#555; 
    }

#main {
    min-height:450px;
    display: none;
}

#title {
    height: 80px;
}
    
    #title .logo {
        margin-left:30%;
        float: left;
    }
    
    #title h1 {
        margin: 0;
        padding-top: 2%;
        color: #888;
    } 

.stats {
    box-shadow: inset 0 4px 8px #000;
    -moz-box-shadow: inset 0 4px 8px #000;
    background: #555;    
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 0 0 1em 0;
    padding: 8px;
    min-height: 80px;
}
    
.stats .stat {
    display: inline-block;
    *zoom: 1;
    color: #bbb;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    width: 33%;
} 

.stats .num {
    font-size: 4em;
    color: #f9f9f9;
    font-family: monospace;
    display: block;
    line-height: 0.9em;
    text-shadow: 0 2px 1px black;
}

.stats .num > span
{
    position: relative;
}

#tweets {
    width: 287px;
    display: inline-block;
    *zoom: 1;
    vertical-align: top; 
    overflow: hidden;
    float: right;
    margin-top: 50px;
}

.package-list {
    background: #f9f9f9;    
    padding: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    
    box-shadow: inset 0 4px 8px #eee;
    -moz-box-shadow: inset 0 4px 8px #eee;
    
    width: 47%;
    display: inline-block;
    *zoom: 1;
    vertical-align: top; 

}
    
    .package-list h2 {
        margin: 0 0 0.3em 0;    
        color: #555;
    }
    
    .package-list a {
        font-size: 1.1em;
        font-weight: bold;
        text-decoration:none;
    }
    
    .package-list p {
        margin-top: 0.5em;    
    }
    
    .package-list li {
        top:1%;
        margin-bottom:2%;
    }
 #recent 
 {
    float: left;
 }
 
 #topPackages 
 {
    float: right
 }
 
 .clear 
 {
     clear: both;
 }
 
 footer 
 {
    margin-top: 10px;
    font-size:12px;
    color:#B3B3B3;
    text-align:center;
 }