body
{
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
}

#header
{
    margin: auto;
    width: 350px;
}

#header-text
{
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 22px auto auto 5px;
}


#content 
{
    margin: 20px auto auto;
    width: 1000px;
}

#main
{
    display: none;
    border: 1px solid rgb(79, 163, 182);
}

.counters 
{
    background-color: rgb(79, 163, 182);
    color: #FFF;
    padding: 5px;
    margin-bottom: 15px;
}

.counter 
{
    float: left;
    text-align: center;
}

.counter > div
{
    font-size: 34px;
    overflow: hidden;
}

.counter > div > span
{
    position: relative;
    padding: 2px;
}


.words
{
    font-size: 15px;
    vertical-align: bottom;
}


#loading
{
    margin: 30px auto auto;
    font-size: 15px;
    font-weight: bold;
    width: 600px;
    text-align: center;
}

.left
{
    float: left;    
}

.clear
{
    clear: both;
}

a img
{
    border: 0;
}

#recent 
{
    float: left;
    width: 40%;
}

#recent ul
{
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
}

#recent li
{
    margin: auto auto 20px 0;
    pading-left: 0px;
}

#recent a, #recent a:visited, #recent a:active
{
    color: Blue;
    text-decoration: none;
}

#chart 
{
    float: left;
    width: 30%;
    margin: auto 25px auto 10px;
}

#twitter
{
    float: right;
    margin-right: 10px;
}
