<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="stats"
             providerName="System.Data.SqlClient"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=nugetstats;Integrated Security=true" />
    </connectionStrings>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.cshtml"/>
            </files>
        </defaultDocument>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>