<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="Stats"
             providerName="System.Data.SqlClient"
             connectionString="Server=db000.appharbor.net;Database=db955;User ID=db955;Password=Z76XDUALHVXR422tDyUbVg4pmtHCJQt8NT5w2geNiFnVpPLTefJZbDrSdPLjm6bZ;"/>
    </connectionStrings>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.cshtml"/>
            </files>
        </defaultDocument>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>